body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQoU2NkQAMvv9//L86pyIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDxtyfHjLg71QAAAABJRU5ErkJggg==
   ) repeat;
}

a {
  color: #9c401c;
}
a:hover, a:visited:hover {
  color: #337a00;
  text-decoration: underline;
}
a:visited {
  color: #00838f;
}

.header-link {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
}

h1 {
  font-size: xx-large;
  font-style: italic;
  color: #337a00;
  padding-bottom: 30px;
}

h2 {
  font-size: x-large;
  font-style: bold;
  color: #00838f;
  padding-top: 30px;
  padding-bottom: 15px;
}

h3 {
  font-size: larger;
  font-style: bold;
  color: #0050C1;
  padding-top: 15px;
  padding-bottom: 5px;
}

h4 {
  font-size: large;
  font-style: italic;
  color: #232C33;
}

li, p, code {
  font-size: medium;
  color: #232C33;
}

img {
  padding-top: 30px;
  padding-bottom: 30px;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30px;
  max-width: 800px;
  min-height: 600px;
}

/* Navigation Styling*/
.nav {
  margin: auto;
  text-align: left;
  padding-bottom: 20px;
  position: fixed;
  top: 55px;
  left: 30px;
}

.nav h1 {
  display: block;
  text-align: left;
  font-size: 17.5px;
  font-style: italic;
  animation: title_rotate 5s linear infinite;
  -ms-animation: title_rotate 5s linear infinite;
  -webkit-animation: title_rotate 5s linear infinite;
}

.nav a {
  display: block;
  padding-bottom: 10px;
}

.nav div {
  margin-top: 80px;
}

footer {
  font-size: smaller;
  font-style: italic;
  margin-top: 200px;
  text-align: right;
}

/* CSS Animation */
@keyframes title_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes title_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes title_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes title_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes title_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}